
/*HEADER*/
body{
	width:100%;
	margin:auto;
}

.container{
	text-align: center;
	background: #c0c5ce;
	width: 100%;
	font-size: 1.5em;
	color: #708090;
	background-image:linear-gradient(#b3cde0, #FFFFFF);
}

li{
	border-bottom: solid 0.2px white;
}



/*HOME*/
.main{
	text-align: center;
	background-image:linear-gradient(#FFFFFF, #b3cde0);
	border-bottom: solid 0.2px white;
	color:#36454f;
}

#impact{
 font-size: 2.5em;
}

#impact2{
 font-size: 3.5em;
}

.col-md-4{
	padding-top: 3px;
	font-size: 1em;
	text-align: center;
}

.block2{	
	background: #b3cde0;
	padding: 15px;
}

p{
	color: #36454f;
}

.title{
	font-size: 2em;
	text-align: center;
	color: #708090;
}

/*END HOME*/




/*CITY*/

.name{
	font-size: 3em;
	text-align: center;
	color:#36454f;
}

.block1{
	background: #b3cde0;
}

.list-group {
	color: #03396c;
}
#resume{
	color: white;
	background: #03396c;
}

.col-md-12{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.find{
	text-align: center;
	padding-bottom: 20px;
}

.value{
	color:#c0c5ce;
	font-style: italic;
}

.actus{	
	background: #b3cde0;
	padding: 15px;
	height: 200px;
}

.button{
	text-align: center;
	margin-top: 10px;
}

.more{
	font-size: 1.2em;
}

/*FOOTER*/
.panel {
	text-align: center;
	color:#4f5b66;
}




/*http://www.oneskyapp.com/fr/docs/bootstrap/css*/