
/*HEADER*/
body{
	width:100%;
	margin:auto;
}

.container{
	text-align: center;
	background: #c0c5ce;
	width: 100%;
	font-size: 1.5em;
	color: #708090;
	background-image:linear-gradient(#b3cde0, #FFFFFF);
}

/*HOME*/
.main{
	text-align: center;
	background-image:linear-gradient(#FFFFFF, #b3cde0);
	border-bottom: solid 0.2px white;
	color:#36454f;
}

#impact{
 font-size: 2.5em;
}

#impact2{
 font-size: 3.5em;
}

.col-md-4{
	padding-top: 3px;
	font-size: 1em;
	text-align: center;
}

.block2{	
	background: #b3cde0;
	padding: 15px;
}

p{
	color: #36454f;
}

.title{
	font-size: 2em;
	text-align: center;
	color: #708090;
}

/*END HOME*/



/*FOOTER*/
.panel {
	text-align: center;
	color:#4f5b66;
}

/*http://www.oneskyapp.com/fr/docs/bootstrap/css*/