/*HEADER*/
body{
  background: pink;
  margin: auto;
}

.container{
	margin : 0 auto;
	width: 100%
}


/*HOME*/
/*DESCRIPTION*/



.block1{
	height: 100px;
	background: red;
}

#impact{
  font-size: 3.7em;
	text-align: center;
}

.block2{
	background: pink;
	height:150px;
}

.block3{
	background: orange;
	height:150px;
}

.block4{
	background: yellow;
	height:150px;
}


.column{
  float:left;
  margin:0px 5px;
}


.column span{
  font-size: 1.5em;
  margin-left: 20px;
}

.column p{
  font-size: 0.9em;
}


/*FOOTER*/
.panel {
	text-align: center;
}

/*http://www.oneskyapp.com/fr/docs/bootstrap/css*/